<mat-card class="user-profile">
  <mat-card-content>
    <mat-card><strong>Name : </strong> {{profile.name}}</mat-card>
    <p></p>
    <mat-card><strong>Email-id : </strong> {{profile.email}}</mat-card>
    <p></p>
    <mat-card><strong>Contact Number : </strong> {{profile.phoneNumber}}</mat-card>
    <p></p>
    <mat-card> <strong>City : </strong> {{profile.city}}  </mat-card>
    <p></p>  
    <mat-card><strong>Gender : </strong> {{profile.gender}}</mat-card>
    <p></p>
    <mat-card> <strong>Favourite Language : </strong> {{profile.language}}</mat-card>
    <p></p>
    <mat-card> <strong>Favourite Genre : </strong> {{profile.genre}}</mat-card>
    <p></p>

    <!-- <h2>Your Favourite Genre </h2>
<div class="example-card" name="fontStyle" aria-label="Font Style"  multiple>
    <div class ="usergenre" *ngFor="let item of showVal;let i =index;" >
  <div class="inside" >
      <img src={{item.image}} >
  </div>
    </div>
</div> -->

  </mat-card-content>
</mat-card>






