<div class="container">
<aside class="profile-card">
  <header>
    <!-- here’s the avatar -->
    <a [routerLink]="['/profile/user']" routerLinkActive="router-link-active"  >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxGBtTLkr4nipb9D_2xbPxefIICcpBkOBiemoWh3IeGy3FM6NXpQ" class="hoverZoomLink">
    </a>

    <!-- and role or location -->
    <h2>
          Hey !
    </h2>
    <!-- the username -->
    <h1>
            {{name}}
    </h1>



  </header>

  <!-- bit of a bio; who are you? -->

  <!-- some social links to show off -->
  <ul class="profile-social-links">
    <li>
      <a >
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a >
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a >
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a >
    <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
</aside>
</div>
