<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<div id="footer">
  <div id="media"class="footer-child">
    
    <ul>
      <li><h1>Follow Us</h1></li>
      <li><a  href="#"><i class="fab fa-facebook-square"></i> facebook</a></li>
      <li><a  href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a  href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
      <li><a  href="#"><i class="fab fa-linkedin"></i> Linked In</a></li>
    </ul>
  </div>
  <div id="contact"class="footer-child">
      
      <ul>
        <li><h1>Contact Us</h1></li>
      <li><i class="fas fa-phone-square"></i> 9999 999 999</li>
      <li><i class="fab fa-whatsapp-square"></i> 9999 999 999</li>
      <li><i class="fab fa-facebook-messenger"></i> Messenger</li>
      <li><i class="fas fa-envelope-square"></i> eventbz@gmail.com</li>
    </ul>
  </div>
  <div id="copyright"class="footer-child">
      <h1>EVENTBUZZ</h1>
      <h4>A one stop solution to all<br>your event related problems</h4>
      <h5>All Copyrights Reserved @ EventBuzz</h5>
  </div>
  <footer>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
  </footer>

</div>