<head>
        <link 
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Concert+One|Cormorant+Upright|Text+Me+One|Unlock" 
        rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
         integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    </head>
<div class="routerclass">
<app-header-main></app-header-main>
        <div class ="marginGive">
        <router-outlet></router-outlet>
        <app-main-footer></app-main-footer> 
        </div>    
         
        
</div>

<app-alerts></app-alerts>
 