<div id="about">

    <h2>A one stop solution to all your event related problems</h2> 
    <h3>We aim for better experience and customer satisfaction</h3> 
  <div id="router">
     
      <div id="movies" class="router-child">
          <a routerLink="/landing">
          <img src="/assets/images/movies.png">
          <h5>MOVIES</h5></a>
      </div>
       <div id="movies" class="router-child">
          <a routerLink="/rsvpEvent">
          <img src="/assets/images/rsvp.png">
          <h5>RSVP</h5>
          </a>
       </div>
   </div>

</div>

