
#detailContainer
{
    color: rgb(2, 2, 2);
    padding: 10px;
    max-width: 400px;
}
#buttonContainer
{
    margin: auto;
    width: 100%;
}
#buttonContainer>button
{
    margin-top: 5px;
    padding: 5px;
}
#yes-button
{
    background-color: rgb(27, 27, 27);
    color: white;
    width: 48%;
    margin: 1%;
}
#no-button
{
    background-color:rgb(85, 82, 82);

color: black;
width: 48%;
margin: 1%;
}
i{
    color: gray;
    font-size: 2em;
}